@model NutritionWeb.Domain.Entities.Patient

<div class="calculator-module">
    <span class="module-title">Factor</span>
    <div class="calculator-input">
        <div class="form-group">
            @Html.TextBoxFor(x => x.Factor, new
            {
                @class = "form-control factor-box",
                @step = "any",
                @type = "number",
                @pattern = @"\d*",
                @autocomplete = "off",
                @placeholder = "Factor",
                @id = "entryFactor"
            })
        </div>
    </div>

</div>



<!--<div class="form-group">
    <div>
        Html.Label("Stress Factor", new { class = "control-label pull-left" })
    </div>
    <div style="text-align: center">
        Html.DropDownListFor(m => m.StressFactor, (IEnumerable<SelectListItem>)ViewBag.StressFactor, new { style = "width:60%; margin-right:95px" })
    </div>
</div>-->