<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NutritionContext" connectionString="data source=(localdb)\v11.0;initial catalog=NutritionWeb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>