
body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #34495E;/*#604b98;*/
}

.navigation {
  text-align: center;
  margin: 0 auto;
  color: white;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

hr {
   margin: 5px auto 10px auto;
   background-color: black; /*FireFox*/
   color: black; /*IE*/
   border-color: black; /*Chrome & Safari*/
}

.nav-button {
    display: inline-block;
    width: 19%;
    padding: 2px;
    color: white; 
    border-radius:30px;
}

.active {
    background-color: #604b98;
    border-color: black;
}

